
  <% for contact in @contacts %>
    <% if !contact.new_contact? %>
      <div class="card">
        <div class="contact <%= contact.connected %>">
          <div class="card-image">
            <%= image_tag(contact.avatar.url) %>        
          </div>
          <div class="card-header">        
            <p><%= contact.first_name %> <%= contact.last_name %></p>
          </div>
          <div class="card-copy">
            <p><%= contact.street %></p>
            <p><%= contact.postal_code %> <%= contact.city %></p>
            <p><%= contact.country %></p>
            <p><%= contact.email %></p>
            <p>
              <%= link_to("edit", edit_user_contact_path(@user.id, contact.id)) %> 
              <%= link_to("remove", user_contact_path(@user.id, contact.id), method: :delete, data: { confirm: 'Are you sure?' }) %>
            </p>
          </div>    
        </div>
      </div>      
    <% end %>
  <% end %>
