<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :first_name, placeholder: "first name" %>
  </div>
  <div class="field">
    <%= f.text_field :last_name, placeholder: "last name" %>
  </div>
  <div class="field">
    <%= f.text_field :street, placeholder: "street" %>
  </div>
  <div class="field">
    <%= f.text_field :postal_code, placeholder: "postal code" %>
  </div>
  <div class="field">
    <%= f.text_field :city, placeholder: "city" %>
  </div>
  <div class="field">
    <%= f.text_field :country, placeholder: "country" %>
  </div>
  <div class="field">
    <%= f.text_field :email, placeholder: "email" %>
  </div>
  <div class="field">
    <%= f.password_field :password, placeholder: "password" %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "password confirmation" %>
  </div>
  <div class="actions">
    <%= f.submit "Register for KYK" %>
  </div>
<% end %>
