<h1>Please select the fields to push</h1>

  <%= form_tag(controller: "users", action: "push", method: "post") do %>
    <% @user.attributes.each do |key, value| %>
      <% unless @blacklist.include?(key) %>
        <%= label_tag(:"#{key}", key.titleize) %>
        <%= check_box_tag(:"#{key}", value=1, checked=true) %><br>
      <% end %>
    <% end %>


    <h1>select contacts</h1>
    <% @contacts.each do |contact| %>
      <%= label_tag(:"#{contact.user_id.to_s}", contact.email) %>
      <%= check_box_tag(:"#{contact.user_id.to_s}", value=2, checked=true, class: contact.tags) %><br>
    <% end %>


  <%= submit_tag "push to my contacts" %>
  <% end %>


  <div id="tag_cloud">
    <% if !@user.tags_with_weight.empty? %>
      <% user_tags_with_weight = @user.tags_with_weight %>
      <% max_weight = user_tags_with_weight.max_by(&:last)[1] %>
      <% user_tags_with_weight.each do |tag, weight| %>
        <%= link_to tag, user_path(@user) + "?search_tags=" + tag + "&commit=Search+Tags", class: %w{s m l}[((weight/max_weight.to_f)*3).round-1] %>
      <% end %>
    <% end %>
  </div>


