<p>
  <strong>Own information:</strong>
  <%= @user.first_name %>
  <%= @user.last_name %>
  <%= @user.street %>
  <%= @user.postal_code %> <%= @user.city %> <%= @user.country %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<%= form_tag user_path, method: :get, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<div class="contacts">
  <% if @user.contacts.size > 0 %>
    <h2>Contacts</h2>
    <% for contact in @contacts %>
      <div class="contact">
        <p><%= contact.first_name %> <%= contact.last_name %></p>
        <p><%= contact.street %></p>
        <p><%= contact.postal_code %> <%= contact.city %></p>
        <p><%= contact.country %></p>
        <p><%= contact.email %></p>
        <p>
          <%= link_to("edit", edit_user_contact_path(@user.id, contact.id)) %> 
          <%= link_to("remove", user_contact_path(@user.id, contact.id), method: :delete, data: { confirm: 'Are you sure?' }) %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>


