  <%= form_for [@user, @contact] do |f| %>
    <p><%= f.text_field :first_name, placeholder: "first name" %></p>
    <p><%= f.text_field :last_name, placeholder: "last name" %></p>
    <p><%= f.text_field :street, placeholder: "street" %></p>
    <p><%= f.text_field :postal_code, placeholder: "postal code" %></p>
    <p><%= f.text_field :city, placeholder: "city" %></p>
    <p><%= f.text_field :country, placeholder: "country" %></p>
    <p><%= f.text_field :phone_number, placeholder: "phone number" %></p>    
    <p><%= f.text_field :email, placeholder: "email" %></p>
    <p><%= f.text_field :tag_list %></p>
    <p><%= f.submit %></p>
  <% end %>