<!DOCTYPE html>
<html>
<head>
  <title>KYK</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="nav">
    <div id="nav-logo">
      <%= link_to "KYK", :root %>
    </div>
    <div id="nav-right">
      <% if current_user %>        
        Hello <span class="first-name"><%= link_to current_user.first_name, edit_user_path(current_user.id) %></span>! |
        <%= link_to "Logout", :logout, method: :post %>
      <% else %>        
        <%= link_to "Login", :login %> |
        <%= link_to "Register", new_user_path %> |
        <%= link_to 'Login with Google', auth_at_provider_path(:provider => :google) %> |
        <%= link_to 'Login with Facebook', auth_at_provider_path(:provider => :facebook) %>
      <% end %>
    </div>
  </div>
  <div id="main">

      <% if current_user %>      

      <div class="user-information" id="<%= @current_user.id %>">

        <div class="push-info">
          <%= link_to("Push to my contacts", select_push_fields_path(current_user)) %>
        </div>

      </div>
    <% end %>

  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>

  <%= yield %>
  </div>
</body>
</html>
